<div class="containerBox">
  <p>CALL CENTER</p>
  <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="4px">
    <div class="greenChart">
      <div class="static">54</div>
    </div>
    <div class="blueChart">
      <div class="static">6</div>
    </div>
    <div class="yellowChart">
      <div class="static">4</div>
    </div>
    <div class="redChart">
      <div class="static">2</div>
    </div>
  </div>
  <div fxLayout="row" class="firstRow" fxLayoutGap="20px" fxLayoutAlign="start">
    <div fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start">
      <div fxLayout="row" class="row2" fxLayoutAlign="start">
        <div class="greenCircle"></div>
        <div class="label">Balance Enquiries</div>
      </div>

      <div fxLayout="row" class="row2" fxLayoutAlign="start">
        <div class="blueCircle"></div>
        <div class="label">Abandoned</div>
      </div>
    </div>

    <div fxLayoutGap="5px" fxLayout="column" fxLayoutAlign="start">
      <div fxLayout="row" fxLayoutAlign="start">
        <div class="yellowCircle"></div>
        <div class="label">Fraud</div>
      </div>
      <div fxLayout="row" class="row2" fxLayoutAlign="start">
        <div class="redCircle"></div>
        <div class="label">Rude</div>
      </div>
    </div>
  </div>
</div>
