<div class="container1">
  <div class="row2">
    <div class="logo">IRIS</div>
    <img src="../../../assets/icons/logout.svg" alt="logout" />
  </div>
</div>
<div class="container2">
  <div class="row2">
    <div class="tel">
      <img
        src="../../../assets/icons/iconmonstr-phone-11 (1).svg"
        alt="tel"
        class="phone"
      />
      <img src="../../../assets/icons/Union 6.svg" alt="waves" />
    </div>
    <div class="cards">
      <app-small-identity-card
        class="card2"
        type="location"
      ></app-small-identity-card>
      <app-small-identity-card
        class="card1"
        type="phone"
      ></app-small-identity-card>
    </div>
  </div>
</div>
